<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Visualizations</title>
</head>
<body>
    <h1>Data Visualizations</h1>
    <div>{{ genre_fig|safe }}</div>
    <div>{{ category_fig|safe }}</div>
    <div>{{ messages_per_category_fig|safe }}</div>
    <div>{{ heatmap_fig|safe }}</div>
    <div>{{ message_length_fig|safe }}</div>
    <a href="/">Go back to home</a>
</body>
</html>


